rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Permite acesso total à coleção de inventário para qualquer usuário logado.
    match /inventory/{itemId} {
      allow read, write, update, delete: if request.auth != null;
    }

    // Permite acesso total ao log de auditoria para qualquer usuário logado.
    match /auditLog/{logId} {
      allow read, write: if request.auth != null;
    }

    // Permite acesso total aos empréstimos para qualquer usuário logado.
    match /loans/{loanId} {
      allow read, write, update: if request.auth != null;
    }

    // Permite que usuários logados gerenciem (leiam, criem, apaguem) categorias.
    match /categories/{categoryId} {
      allow read, write, delete: if request.auth != null;
    }

    // Permite que usuários logados gerenciem (leiam, criem, apaguem) setores.
    match /sectors/{sectorId} {
      allow read, write, delete: if request.auth != null;
    }
  }
}
